@import "_colors_dracula.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 2rem 1rem;
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: $color-background;
    color: $color-foreground;

    > header {
        margin-bottom: 1rem;
        display: flex;

        .avatar {
            width: 64px;
            height: 64px;
            margin: 0.5rem;
            border-radius: 100%;
        }

        .site-title {
            nav ul {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            h1 {
                margin-bottom: 0.8rem;
                > a {
                    color: $color-foreground;
                }
            }
        }
    }

    > footer {
        color: $color-comment;
    }
}

hr {
    color: $color-comment;
}

code {
    font-family: monospace;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: adjust-color($color: $color-background, $lightness: -3%);
}

pre {
    overflow-x: auto;
    tab-size: 4;
    margin: 1em;
    line-height: 1.2;
    // overflow-y: hidden;
    code {
        padding: 0;
        background-color: transparent;
    }
}

ul {
    list-style: "- ";
    padding-left: 1em;
    li {
        position: relative;
    }
}

ul.pages {
    padding-left: 0;
    list-style: none;
    li {
        margin-top: 0.5em;
        time {
            color: $color-comment;
        }
    }
}

article {

    header {
        margin: 1em 0;

        h1 {
            margin: 0;

            a {
                color: $color-foreground;
            }
        }

        color: $color-comment;
    }
    img,
    video {
        max-width: 100%;
        display: block;
        margin: auto;
    }
    footer {
        color: $color-comment;
    }
}

a {
    color: $color-highlight;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.contact-links {
    padding: 0;
    list-style: none;
    > li {
        //color: $color-foreground;
        margin: 0.25em;
        display: inline-block;

        > small {
            color: $color-comment;
        }
    }
}

.tags {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    > li {
        margin: 0.25em;
        display: inline;
    }
}

.footnote-definition {
    margin: 0.5em;

    .footnote-definition-label {
        color: $color-comment;
    }
    p {
        display: inline-block;
        margin: 0;
    }
}
