{% extends "base.html" %}

{% block main %}
<article>
    <h1>{{ taxonomy.name }}</h1>
    <nav>
        {% for term in terms | reverse | sort(attribute="pages") | reverse %}
        <a href="{{ term.permalink | safe }}">{{ term.name }} <small>({{ term.pages | length }})</small></a>&nbsp;
        {% endfor %}
    </nav>
</article>
{% endblock %}