{% extends "base.html" %}

{% block main %}
<article>
    <header>
        <h1><a href="{{ config.base_url | safe }}/{{ taxonomy.name }}/">{{ taxonomy.name }}</a> > <a
                href="{{ term.permalink | safe }}">{{ term.name }}</a></h1>

    </header>
    <ul class="pages">
        {% for page in term.pages | sort(attribute="date") | reverse %}
        {% if not page.extra.hidden %}
        <li>
            <time datetime="{{ page.date | date(format='%+') }}">
                {{ page.date | date(format='%F') }}
            </time>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</article>
{% endblock %}
