<footer>
    {% if config.extra.author.social -%}
    <address>
        <ul class="contact-links">
            {% for link in config.extra.author.social -%}
            <li>
                <small>{{ link.title }}</small><br />
                {% if link.href -%}
                <a href="{{ link.href | safe }}" rel="me">{{ link.name }}</a>
                {% else -%}
                {{ link.name }}
                {% endif -%}
            </li>
            {% endfor -%}
        </ul>
    </address>
    {% endif -%}
    <p>
        <small>
            Generated: <time datetime="{{ now() | date(format='%+') }}">{{ now() | date(format="%F %R %Z") }}</time>
        </small>
    </p>
</footer>
