<address class="h-card">
    <img class="u-photo" src="/avatar.png" alt="{{ config.extra.author.name }}">
    <a class="u-url u-uid p-name" href="{{ config.base_url }}">
        {{ config.extra.author.name }}
    </a>
    {% if config.extra.social -%}
    <ul class="contact-links">
        {% for link in config.extra.social -%}
        <li>
            <small>{{ link.title }}</small><br />
            {% if link.href -%}
            <a class="u-url" href="{{ link.href | safe }}" rel="me">{{ link.name }}</a>
            {% else -%}
            {{ link.name }}
            {% endif -%}
        </li>
        {% endfor -%}
    </ul>
    {% endif -%}
</address>