<header>
    {% set avatar = resize_image(path='avatar.png', width=64, height=64, op='fit') -%}
    <img class="avatar" src="{{ avatar.url | safe }}" alt="Avatar">
    <div class="site-title">
        <h1><a href='{{ get_url(path="/") | safe }}'>{{ config.title }}</a></h1>
        <nav>
            {% set main = get_section(path="_index.md") -%}
            <ul>
                {% for section in main.subsections -%}
                {% set sec = get_section(path=section, metadata_only=true) -%}
                {% if not sec.extra.hidden -%}
                <li>
                    <a href='{{ sec.permalink | safe }}'>{{ sec.title }}</a>
                </li>
                {% endif -%}
                {% endfor -%}
                {% for page in main.pages -%}
                {% if not page.extra.hidden -%}
                <li>
                    <a href='{{ page.permalink | safe }}'>{{ page.title }}</a>
                </li>
                {% endif -%}
                {% endfor -%}
            </ul>
        </nav>
    </div>
</header>
