<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Zola 0.13.0">
    <link rel="stylesheet" href="/style.css">
    {% if config.generate_feed -%}
    {% for feed in config.feed_filenames -%}
    <link rel="alternate" type="application/atom+xml" href="{{ config.base_url  | safe }}/{{ feed | safe }}"
        title="{{ config.title }}">
    {% if taxonomy.feed and term -%}
    <link rel="alternate" type="application/atom+xml" href="{{term.permalink | safe}}{{feed | safe }}"
        title="{{ config.title }} - {{ taxonomy.name }}: {{ term.name }}">
    {% endif -%}
    {% endfor -%}
    {% endif -%}
    {% include "partials/opengraph.html" -%}
    {% for size in [16, 32, 96, 192, 256] -%}
    {% set icon = resize_image(path='/avatar.png', width=size, height=size, op='fit') -%}
    <link rel="icon" type="image/png" sizes="{{size}}x{{size}}" href="{{ icon.url | safe }}">
    {% endfor -%}

    <title>{{ config.title }}{% if page.title -%} - {{ page.title }}{% endif -%}</title>
</head>