{% if page -%}
{% set title = page.title -%}
{% if page.summary -%}
{% set description = page.summary -%}
{% endif -%}
{% if page.assets -%}
{% set assets = page.assets -%}
{% endif -%}
{% endif -%}
{% if section -%}
{% set title = section.title -%}
{% if section.assets -%}
{% set assets = section.assets -%}
{% endif -%}
{% endif -%}
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:title" content="{{ title | default(value=config.title) }}" />
{% if url -%}
<meta property="og:url" content="{{ url | safe }}" />
{% endif -%}
{% if description -%}
<meta property="og:description" content="{{ description }}" />
<meta property="description" content="{{ description }}" />
{% endif -%}
{% if assets -%}
{% for asset in assets -%}
{% if asset is ending_with(".png") or asset is ending_with(".jpg") -%}
<meta property="og:image" content="{{ config.base_url | safe }}/{{ asset }}" />
{% endif -%}
{% endfor -%}
{% endif -%}
<meta property="og:image" content="{{ config.base_url | safe }}/avatar.png" />