<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" -%}

<body>
    {% include "partials/header.html" -%}
    <main>
        {% block main -%}
        {{ throw(message="main block not defined") }}
        {% endblock main -%}
    </main>
    {% include "partials/footer.html" -%}
    {% if config.extra.debug -%}
    <pre><code>{{ __tera_context }}</code></pre>
    {% endif -%}
</body>

</html>
