{% extends "base.html" -%}

{% block main -%}
{% if section.title -%}
<h2>{{section.title}}</h2>
{% endif -%}
{% if section.content -%}
{{ section.content | safe }}
{% endif -%}
<ul class="pages">
    {% set posts = get_section(path="posts/_index.md") -%}
    {% for page in posts.pages | sort(attribute="date") | reverse -%}
    {% if not page.extra.hidden -%}
    <li>
        <time datetime="{{ page.date | date(format='%+') }}">
            {{ page.date | date(format='%F') }}
        </time>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
    {% endif -%}
    {% endfor -%}
</ul>
{% endblock main -%}
