{% extends "base.html" -%}

{% block main -%}
<article class="h-entry">

    <header>
        {% if page.title -%}
        <h1 class="p-name"><a class="u-url" href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
        {% endif -%}
        {% if page.date -%}
        Published <time class="dt-published"
            datetime="{{ page.date | date(format='%+') }}">{{ page.date | date(format='%F') }}</time>.
        {% endif -%}
        {% if page.extra.updated -%}
        Updated <time class="dt-updated"
            datetime="{{ page.extra.updated | date(format='%+') }}">{{ page.extra.updated | date(format='%F') }}</time>.
        {% endif -%}
    </header>
    <main class="e-content">
        {{ page.content | safe }}
    </main>
    <footer>
        {% if page.taxonomies.tags -%}
        <ul class="tags">
            {% for tag in page.taxonomies.tags -%}
            <li>
                <a class="p-category" href="{{ config.base_url | safe }}/tags/{{ tag }}/">#{{ tag }}</a>
            </li>
            {% endfor -%}
        </ul>
        {% endif -%}
    </footer>
</article>
{% endblock main -%}
