{% extends "base.html" -%}

{% block main -%}
{% if section.title -%}
<h2>{{section.title}}</h2>
{% endif -%}
{% if section.content -%}
{{ section.content | safe }}
{% endif -%}
{% if section.subsections -%}
<ul>
    {% for sub in section.subsections -%}
    {% set subsec = get_section(path=sub) -%}
    <li><a href="{{ subsec.permalink | safe }}">{{subsec.title}}</a></li>
    {% endfor -%}
</ul>
{% endif -%}
{% if section.pages -%}
<ul class="pages">
    {% for page in section.pages | sort(attribute="date") | reverse -%}
    {% if not page.extra.hidden -%}
    <li>
        <time datetime="{{ page.date | date(format='%+') }}">
            {{ page.date | date(format='%F') }}
        </time>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
    {% endif -%}
    {% endfor -%}
</ul>
{% endif -%}
{% endblock main -%}
